version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: agent-foundry-server
    restart: unless-stopped
    ports:
      - "1138:80"
    volumes:
      - .:/var/www
    networks:
      - webnet

networks:
  webnet:
    driver: bridge
    ipam:
      config:
        - subnet: 10.20.0.0/16